<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coda Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Coda.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Flick Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Flick.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>235266542F350AFE0071AD79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235266612F350B010071AD79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2352666B2F350B010071AD79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235266772F350B010071AD79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235266862F350B020071AD79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235266902F350B020071AD79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
